<h1>create new course</h1>

<!-- linear true? only pass to next step after first is valid -->
<mat-stepper [linear]="false" orientation="horizontal" class="fadein mat-elevation-z5" labelPosition="bottom">
   <!-- we need to get to the form placed in app-step-1 and check if it is valid
can do this by placing local reference on app-step-1 and accessing it's form
property in [stepControl]
-->
    <mat-step [stepControl]="step1.form" errorMessage="details are not correct">
        <ng-template matStepLabel>course landing page details</ng-template>
        
        <app-step1 #step1></app-step1>
        
        <div class="stepper-buttons"> 
            <button mat-raised-button color="primary" matStepperNext>Continue to step 2</button>
        </div>
    </mat-step>
  
    
    <mat-step [stepControl]="step2.form" errorMessage="details are not correct">
        <ng-template matStepLabel>course pricing details</ng-template>
        
        <app-step2 #step2></app-step2>
        <div class="stepper-buttons"> 
            <button mat-raised-button color="primary" matStepperPrevious>back to step 1</button>
            <button mat-raised-button color="primary" matStepperNext>Continue to step 3</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="step3.form"errorMessage="Course lessons in error">
        <ng-template matStepLabel >course lessons</ng-template>
        
        <app-step3 #step3></app-step3>
        <div class="stepper-buttons"> 
            <button mat-raised-button color="primary" matStepperPrevious>back to step 2</button>
            <button mat-raised-button color="primary" matStepperNext>Submit</button>
        </div>
    </mat-step>

</mat-stepper>
 
<button holdable>AAAAAAAA</button>