<p>dogcovid works!</p>

<form [formGroup]="dogForm" >
  <label for="size"
    >Dog Size
    <select
      name="size"
      id="size"
      formControlName="size"
      placeholder="pizdanahuj"
    >
      <option value="big">big</option>
      <option value="small">small</option>
      <option value="avg">avg</option>
    </select>
  </label>
  <br />
  <label for="breed"
    >Dog breed
    <select name="breed" id="breed" formControlName="breed">
      <option value="jamnik">jamnik</option>
      <option value="owca">owca</option>
      <option value="parch">parch</option>
      <option value="szarik">szarik</option>
    </select>
  </label>
  <br />
  <label for="gender"
    >Dog gender
    <select name="gender" id="gender" formControlName="gender">
      <option value="suka">suka</option>
      <option value="pjes">pjes</option>
      <option value="other">other</option>
    </select>
  </label>
  <br />
  

  <label for="name"
    >Dog name
    <input type="text" name="name" id="name" formControlName="name" />
  </label>  
  <br />
  <app-error-msg 
  *ngIf="dogForm.errors?.nameTooLong" 
  [msg]="dogForm.errors['nameTooLong']">
  </app-error-msg>
  <p>
    czy ma jaja?
    <br />

    <label for="jajanie"
      >nie
      <input
        type="radio"
        value="nie"
        name="jaja"
        id="jajanie"
        formControlName="jaja"
      />
    </label>
    <br />
    <label for="jajatak"
      >tak
      <input
        type="radio"
        value="tak"
        name="jaja"
        id="jajatak"
        formControlName="jaja"
      />
    </label>
  </p>
  <app-error-msg 
  *ngIf="dogForm.errors?.jajaError" 
  [msg]="dogForm.errors['jajaError']">
  </app-error-msg>
  <br />

  <section class="vaccines" id="vaccines_section">
    <p>Co chcesz podać psu</p>
    <div *ngFor="let vac of vaccines">
      <p #el (click)="selectVaccine(el, vac)" class="vaccine_block">
        {{ vac.name }}
      </p>
    </div>
  </section>
  <app-error-msg 
  *ngIf="dogForm.errors?.mefedronSmallDog" 
  [msg]="dogForm.errors['mefedronSmallDog']">
  </app-error-msg>
  <app-error-msg *ngIf="dogForm.errors?.notEnoughVaccines" [msg]="dogForm.errors['notEnoughVaccines']"></app-error-msg>

  <button  type="button" [disabled]="!dogForm.valid" (click)="submitDogForm()">Submit</button>
</form>

<p  >Łączna cena</p>
<span>{{ totalPrice }}</span>
