<p>step3 works!</p>

<div class="add-lessons-form" [formGroup]="form">
    
    <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
        <div  class="lesson-form-row" [formGroup]="lessonForm">
    
            <mat-form-field appearance="fill">
                <input 
                formControlName="title"
                matInput 
                placeholder="lesson title">
            </mat-form-field>
            <mat-form-field appearance="fill">
               <mat-select 
               formControlName="level"
               placeholder="lesson level">
                   <mat-option value="beginner">beginner</mat-option>
                   <mat-option value="intermediate">intermediate</mat-option>
                   <mat-option value="advanced">advanced</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-icon (click)="deleteLesson(i)" class="delete-btn">delete_forever</mat-icon>
        </div>
        
    </ng-container>
    
    <button mat-mini-fab>
        <mat-icon (click)="addLesson()" class="add-course-button">add</mat-icon>
    </button>
</div>

<div> {{ form.value | json}}</div>
<div> {{ form.valid}}</div>