<div [formGroup]="form">
    <mat-form-field>
        <input #title matInput 
        formControlName="title"
        placeholder="Course title" type="text">
        <mat-hint align="end">
            {{title.value.length}} / 60
        </mat-hint>
        <mat-error *ngIf="courseTitle.errors?.titleExists">title alredy in use</mat-error>
    </mat-form-field>
<br>
    <!-- DATEPICKER -->
    <mat-form-field>
        <input formControlName="releasedAt" matInput [matDatepicker]="releaseDatePicker" placeholder="release date">
        <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #releaseDatePicker></mat-datepicker>
    </mat-form-field>
<br>
    <!-- /CHeCKBOX -->
    <mat-checkbox  color="primary" formControlName="downloadsAllowed">
        Downlads Allowed?
    </mat-checkbox>
<br>
    <!-- TEXTAREA -->
    <mat-form-field appearance="outline">
        <textarea matInput formControlName="longDescription" placeholder="Description">

        </textarea>
    </mat-form-field>
<br>
    <!-- SELECT -->
    <!-- HAS ADDED VIRTUAL SCROLLL!!!!!! -->
    <!-- HAS ADDED VIRTUAL SCROLLL!!!!!! -->
    <!-- HAS ADDED VIRTUAL SCROLLL!!!!!! -->
    <mat-form-field style="width: 100%">
        <mat-select placeholder="select category" formControlName="category">
            <cdk-virtual-scroll-viewport itemSize="20" style="height: 150px">
                <mat-option value=""> == None ==</mat-option>    
                <ng-container *cdkVirtualFor="let category of (categories$ | async)">
                    <mat-option [value]="category.title">{{ category.title }}</mat-option>
                </ng-container>
            </cdk-virtual-scroll-viewport>
        </mat-select>
    </mat-form-field>
    


    <!-- DEBUG -->
    <div class="form-value">
        {{form.value | json}}
    </div>
</div>