<!-- input type file hidden due to styling difficulties -->
<!-- emits change event whenever user uploads a file -->
<input (change)="onFileSelected($event)" #fileUpload type="file" class="file-input">

<div class="file-upload">
    <mat-form-field>
        <input  [value]="fileName" matInput [disabled]="true">
    </mat-form-field>

    <!-- this button activates hidden input of type file above -->
    <button (click)="fileUpload.click()" mat-mini-fab color="primary" class="upload-button">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>
<!-- PROGRESS BAR - determinate(exact %of progress known) or indetermiate -->
<mat-progress-bar *ngIf="uploadProgress" [value]="uploadProgress" mode="determinate" class="progress-bar"></mat-progress-bar>