<h2>your current alias: {{ chatuser }}</h2>

<section class="chat-container">
  <div #chatbox class="chatbox">
    <div *ngIf="errorMsg" class="infomsg">{{ errorMsg }}</div>
    <article class="enter-chat" *ngIf="!chatuser">
      <button (click)="enterChat(username.value)">enter chat</button>
      <input #username value="" placeholder="type your name here" type="text" />
    </article>

    <article class="chat-tabs">
      <div *ngFor="let tab of activeTabs">
        <button
          (click)="swichToConversationWith(tab)"
          class="chat-tab"
          [class.active-tab]="currentOpenedTab === tab"
        >
          {{ tab }}
        </button>
        <span
          class="kill-tab-btn"
          (click)="endConversation(currentOpenedTab)"
        ></span>
      </div>
    </article>

    <article  class="conversation-display">
      <div
        class="conversation-line-container"
        [class.me]="sentence.sender === 'me'"
        *ngFor="
          let sentence of currentConversationsArchive[currentOpenedTab]
            ?.messages;
          let i = index
        "
      >
        <span class="conversation-line-sender">{{ sentence.sender }}</span>
        <p class="conversation-line-message">{{ sentence.msg }}</p>
      </div>
    </article>
  </div>

  <div class="userlist">
    <button
      *ngFor="let user of activeUsers"
      (click)="startNewConversation(user)"
      class="active-user"
    >
      {{ user.username }}
    </button>
  </div>

  <article class="msg-draft-container" *ngIf="chatuser && currentOpenedTab">
    <textarea class="msg-draft-text" #draftMessage></textarea>
    <div class="msg-draft-btns">
      <button (click)="sendMessageTo(draftMessage, currentOpenedTab)">
        send message to {{ currentOpenedTab }}
      </button>
      <button (click)="clearDraftMessage(draftMessage)">Clear</button>
    </div>
  </article>
</section>

<br /><br /><br />
<form [formGroup]="mainForm">
  <div id="user-data">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        formControlName="username"
      />
    </div>

    <div class="form-group">
      <label for="email">Mail</label>
      <input
        type="text"
        id="email"
        class="form-control"
        formControlName="email"
      />
    </div>
  </div>

  <div class="radio" *ngFor="let gender of genders">
    <label>
      <input
        type="radio"
        name="gender"
        [value]="gender"
        formControlName="gender"
      />
      {{ gender }}
    </label>
  </div>

  <button #saveBtn class="btn btn-primary" type="button">save</button>
</form>
