<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" id="email" class="form-control">
                <label for="password">password</label>
                <input type="password" id="password" class="form-control">
            </div>
            <div class="div">
                <button class="btn btn-primary" type="button">sign up</button>
            </div>
            <div class="div">
                <button class="btn btn-primary" type="button">switch to login</button>
            </div>
        </form>
    </div>
</div>